.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid var(--main-yellow);

  color: var(--main-white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main-yellow);
}

.button:hover {
  background-color: var(--dark-yellow);
}

button.button:hover {
  border: 1px solid var(--dark-yellow);

  background-color: var(--dark-yellow);
}

.subscribe-button {
  position: relative;

  width: 70px;
  height: 50px;
}

.subscribe-button::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24px;
  height: 24px;

  background-image: url('../images/send.svg');

  transform: translate(-50%, -50%);

  content: '';
}
