.button {
  display: inline-block;
  padding: 12px 24px;

  color: var(--main-white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main-yellow);
}

.button:hover {
  background-color: var(--dark-yellow);
}
