/* @import './colors.css'; */

@font-face {
  font-weight: 400;
  font-family: 'Open sans';
  font-style: normal;
  src: local('Open sans'), url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open sans';
  font-style: bold;
  src: local('Open sans'), url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  font-style: normal;
  src: local('Neucha'), url('../fonts/Neucha/Neucha-Regular.woff');
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3 {
  font-family: 'Neucha', 'Comic Sans', sans-serif;
  line-height: 1.2em;
}

h1,
.h1 {
  font-size: 72px;
}

h2,
.h2 {
  font-size: 60px;
}

h3,
.h3 {
  font-size: 34px;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: 'Open sans', 'Arial', sans-serif;
  line-height: 1.6em;
}

.h2-smallest {
  font-size: 52px;
}

.subtitle {
  font-size: 24px;
  font-family: 'Neucha', 'Comic Sans', sans-serif;
}

.text {
  color: var(--dark);
  font-size: 16px;
  font-family: 'Open sans', 'Arial', sans-serif;
  line-height: 1.6em;
}

.text-yellow {
  color: var(--main-yellow);
}

.text-gray {
  color: var(--transparent-dark);
}

.text-white {
  color: var(--main-white);
}

.text-brown {
  color: var(--brown);
}

.section-desctiprion {
  font-family: 'Neucha', 'Comic Sans', sans-serif;
  line-height: 1.2em;
}

.ttu {
  text-transform: uppercase;
}
