.container {
  width: 100%;
  min-width: 300px;
}

.content {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;
  padding: 100px 0;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-space {
  justify-content: space-between;
}

.row {
  display: flex;

  flex-wrap: wrap;
}

.col {
  flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}

/* BACKGROUND */
.bg-gray {
  background-color: var(--lighted);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-dark {
  color: var(--main-white);

  background-color: var(--dark);
}

.bg-img-guess::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: '';
}

/* POSITION */

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

/* MARGINS */

/* TOP */
.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-210 {
  margin-top: 210px;
}

/* RIGHT */
.mr-30 {
  margin-right: 30px;
}

/* BOTTOM */
.mb-30 {
  margin-bottom: 30px;
}

/* LEFT */

/* PADDING */

.p-24 {
  padding: 24px;
}

/* TOP */
.pt-5 {
  padding-top: 5px;
}

.pt-200 {
  padding-top: 200px;
}

/* LEFT */

.pl-10 {
  padding-left: 10px;
}

/* BOTTOM */

.pb-0 {
  padding-bottom: 0;
}

.pb-5 {
  padding-bottom: 5px;
}
