/** CSS STYLE **/
@import '../../node_modules/modern-css-reset/dist/reset.css';
@import './colors.css';
@import './fonts.css';
@import './layout.css';
@import './button.css';

/* HEADER */

.header {
  position: relative;

  overflow: hidden;

  background-color: var(--lighted);
}

.header-img {
  position: absolute;
  top: 55px;
  right: -255px;
}

/* SECTIONS */

.section-title {
  text-align: center;
}

.section-video-frame > iframe {
  bottom: -100px;

  margin: 0 auto;
  margin-top: -100px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.card {
  /* flex: 0 0 350px; */
  width: 350px;
  height: 348px;
}

.card-link {
  color: var(--dark);
  text-decoration: none;
}

.card-link * {
  transition: all ease-in-out 0.3s;
}

.card-link:hover * {
  color: var(--main-white);
}

.card-link:hover > div {
  background-color: var(--main-yellow);
}

.card-count {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: 'Neucha', sans-serif;
  line-height: 1;
}

.card-title {
  margin-bottom: 16px;
}

.section-img {
  width: 578px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
