/** CSS STYLE **/
@import '../../node_modules/modern-css-reset/dist/reset.css';
@import './colors.css';
@import './fonts.css';
@import './layout.css';
@import './button.css';

/* HEADER */

.header {
  position: relative;

  overflow: hidden;

  background-color: var(--lighted);
}

.header-img {
  position: absolute;
  top: 55px;
  right: -100px;
}

/* SECTIONS */

.section-title {
  text-align: center;
}

.section-video-frame > iframe {
  bottom: -100px;

  margin: 0 auto;
  margin-top: -100px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.card {
  /* flex: 0 0 350px; */
  width: 350px;
  height: 348px;
}

.navigation-first-row .card {
  height: 323px;
}

.card-link {
  color: var(--dark);
  text-decoration: none;
}

.card-link * {
  transition: all ease-in-out 0.3s;
}

.card-link:hover * {
  color: var(--main-white);
}

.card-link:hover > div {
  background-color: var(--main-yellow);
}

.card-count {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: 'Neucha', sans-serif;
  line-height: 1;
}

.card-title {
  margin-bottom: 16px;
}

.section-img {
  width: 578px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.subscribe {
  justify-content: space-around;
  padding: 40px 55px;

  color: var(--main-white);

  background-color: var(--main-darked);
}

.subscribe-title {
  margin: auto 0;
}

.form-subscribe {
  display: flex;
}

.input {
  width: 100%;
  height: 50px;
  padding: 15px;

  border: 1px solid #e3e3e3;
}

.mail-descriprion {
  margin-bottom: 9px;

  font-size: 18px;
}

.oferta {
  font-size: 12px;
}

.oferta-link {
  color: var(--main-white);
}

.copyright a {
  color: #1085c5;
}

.copyright {
  text-align: center;
}

.copyright p {
  margin-top: 16px;
}

.copyright:first-child {
  margin-top: 76px;
}
