/** CSS STYLE **/
@import '../../node_modules/modern-css-reset/dist/reset.min.css';
@import './colors.css';
@import './fonts.css';
@import './layout.css';
@import './button.css';

/* HEADER */

.header {
  position: relative;

  overflow: hidden;

  background-color: var(--lighted);
}

.header-img {
  position: absolute;
  top: 55px;
  right: -255px;
}
